body {
    background: #71c3d2;
}

.page-header {
    text-align: center;
    padding: 50px;
}

.section-light {
    background: #fff;
}

.contact-block {
    padding: 20px;
    margin: 0 100px; //TODO: hack, use css framework to do left and right spacing
}
